{% for hospital in hospitals %}
<div class="list-item-modal modal fade" id="institution-{{ hospital.slug }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <a href="#hospitals" title="Kembali ke rumah sakit" class="btn btn-primary" role="button" data-dismiss="modal"><i class="fa fa-times"></i> Tutup</a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="modal-header">
                        <h2>{{ hospital.name }}</h2>
                        <div class="col-lg-offset-2">
                            <p class="item-intro text-muted">{{hospital.introText}}</p>
                        </div>
                        <div class="list-item-header-image">
                            <img class="img-responsive" src="{{ hospital.rsPhotoFileName }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-2">
                    <div class="modal-body">
                        <div class="col-lg-5">
                            <div class="panel panel-primary">
                                <div class="panel-heading list-item-panel">
                                    <div class="panel-title">Kontak</div>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-6 list-item-detail-header">Direktur</div>
                                        <div class="col-lg-6"><a href="mailto:{{ hospital.direkturEmail }}?subject=Dari+website+YPKBK" target="_blank">{{ hospital.direkturName}}</a></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 list-item-detail-header">Bala Keselamatan Opsir Pembina</div>
                                        <div class="col-lg-6"><a href="mailto:{{ hospital.opsirEmail }}?subject=Dari+website+YPKBK" target="_blank">{{ hospital.opsirName}}</a></div>
                                    </div>
                                    <div class="row"><hr></div>
                                    <div class="row">
                                        <div class="col-lg-6 list-item-detail-header">Alamat</div>
                                        <div class="col-lg-6">{{ hospital.address }}</div>
                                    </div>
                                    <div class="row">&nbsp;</div>
                                    <div class="row">
                                        {% if hospital.telephone %}
                                        <div class="col-xs-3">
                                            <a href="tel:{{ hospital.telephone }}" target="_blank" role="button" class="btn btn-default btn-lg">
                                                <span class="fa fa-phone fa-2x" aria-hidden="true"></span>
                                            </a>
                                        </div>
                                        {% endif %}
                                        {% if hospital.rsEmail %}
                                        <div class="col-xs-3">
                                            <a href="mailto:{{ hospital.rsEmail }}?subject=Dari+website+YPKBK" target="_blank" role="button" class="btn btn-default btn-lg">
                                                <span class="fa fa-envelope fa-2x" aria-hidden="true"></span>
                                            </a>
                                        </div>
                                        {% endif %}
                                        {% if hospital.rsWebsite %}
                                        <div class="col-xs-3">
                                            <a href="{{ hospital.rsWebsite }}" target="_blank" role="button" class="btn btn-default btn-lg">
                                                <span class="fa fa-globe fa-2x" aria-hidden="true"></span>
                                            </a>
                                        </div>
                                        {% endif %}
                                        {% if hospital.googleMapUrl %}
                                        <div class="col-xs-3">
                                            <a href="{{ hospital.googleMapUrl }}" target="_blank" role="button" class="btn btn-default btn-lg">
                                                <span class="fa fa-map-marker fa-2x" aria-hidden="true"></span>
                                            </a>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <div class="panel-title">Misi / Visi</div>
                                </div>
                                <div class="panel-body">
                                    <h4>Misi</h4>
                                    <p>{{ hospital.misiText | safe  }}</p>
                                    <h4>Visi</h4>
                                    <p>{{ hospital.visiText | safe  }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <div class="panel-title">Pelayanan</div>
                                </div>
                                <div class="panel-body">{{ hospital.pelayanan | safe }}</div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <div class="panel-title">Informasi lain</div>
                                </div>
                                <div class="panel-body">
                                    <ul>
                                        <li>BPJS: {{ hospital.bpjsStatus }}</li>
                                        <li>Akreditasi: {{ hospital.accreditationStatus }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-2">
                    <div class="modal-body">
                        <div class="col-lg-5">
                            <a href="#hospitals"  title="Kembali ke rumah sakit" class="btn btn-primary" role="button" data-dismiss="modal"><i class="fa fa-times"></i> Tutup</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}