{% extends 'layout.html' %}

{% block title %}
    {{ texts.ypkbk_name }}
{% endblock %}

{% block content %}

    <!-- Navigation & Header -->
    {% include "./navigation.html" %}

    <!-- Article grid section -->
    {% include "./articles.html" %}

    <!-- Hospitals Grid Section -->
    {% include "./hospitals.html" %}

    <!-- Clinics Section -->
    {% include "./clinics.html" %}

    <!-- Clinics Section -->
    {% include "./contact.html" %}

    <!-- About Section -->
    {% include "./about.html" %}

    <!-- Footer -->
    {% include "./footer.html" %}

    <!-- Modal pages, hidden by default -->

    <!-- Hospital "pages" -->
    {% include "./hospitals_pages.html" %}

    <!-- Clinics "pages" -->
    {% include "./clinics_pages.html" %}

    <!-- Google Analytics -->    
    <script>
      gaTrack("/", "Beranda");
    </script>

{% endblock %}