{% extends 'layout.html' %} {% block content %}

<h1>Rumah sakit</h1>
<ul>
    {% for hospital in hospitals %}
    <li><a href="/admin/hospital/{{ hospital._id.toString() }}">{{ hospital.name }}</a></li>
    {% endfor%}
</ul>
<p>
  <a href="/admin/hospital/"><button>Buat rumah sakit baru</button></a>
</p>
<hr>
<h1>Klinik</h1>
<ul>
    {% for clinic in clinics %}
    <li><a href="/admin/clinic/{{ clinic._id.toString() }}">{{ clinic.name }}</a></li>
    {% endfor%}
</ul>
<p>
  <a href="/admin/clinic/"><button>Buat klinik baru</button></a>
</p>
<hr>
<h1>Artikel</h1>
<ul>
    {% for article in articles %}
    <li><a href="/admin/article/{{ article._id.toString() }}">{{ article.title }}</a></li>
    {% endfor%}
</ul>
<p>
  <a href="/admin/article/"><button>Buat artikel baru</button></a>
</p>
<hr>
<h1>Teks Lain-lain</h1>
<table>
  <tr>
    <th class="narrow">Slug</th>
    <th class="wide">Teks</th>
  </tr>
  {% for t in texts %}
  <tr>
    <td><a href="/admin/text/{{ t._id.toString() }}">{{ t.slug }}</a></td>
    <td>{{ t.text }}</td>
  </tr>
  {% endfor %}
</table>
<p>
  <a href="/admin/text/"><button>Buat text lain-lain baru</button></a>
</p>
{% endblock %}