{% extends 'layout.html' %}

{% block content %}
  <h1>Rumah sakit</h1>
  	<ul>
  	{% for hospital in hospitals %}
  		<li><a href="/admin/hospital/{{ hospital._id.toString() }}">{{ hospital.name }}</a></li>
  	{% endfor%}
  	</ul>

    <a href="/admin/hospital/">
      <button>Buat rumah sakit baru</button>
    </a>

  <h1>Klinik</h1>
  	<a href="/admin/clinic/new">
  		<button>Buat klinik baru</button>
  	</a>

  <h1>Berita</h1>
  	<a href="/admin/news/new">
  		<button>Buat berita baru</button>
  	</a>

  <h1>Lain-lain</h1>
  	<a href="/admin/text/new">
  		<button>Buat text lain-lain baru</button>
	</a>

{% endblock %}